@import "../../../styles/settings.scss";

.root {
  .appbar {
    margin-bottom: $base-size;
    .toolbar {
      justify-content: space-between;
      .link {
        text-decoration: none;
        color: $color-white;
      }
      .login {
        color: $color-white;
      }
    }
  }
}
